* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body .bold {
  font-weight: bold;
}
body .left-side,
body .right-side {
  height: 100vh;
  float: left;
}
body .left-side {
  width: 75vw;
}
body .left-side .alertContainer {
  width: 25%;
  height: 25%;
  float: left;
}
body .left-side .alertContainer .alert {
  margin: 1%;
  width: 98%;
  height: 98%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
body .left-side .alertContainer .alert .tinyId {
  background-color: #F9F9F9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #2E2E2E;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  font-size: 2vmin;
  padding: 0.3vmin;
}
body .left-side .alertContainer .alert .createdAt {
  color: #F0FFFF;
  position: absolute;
  top: 0.4vmin;
  right: 1vmin;
  font-size: 2vmin;
  text-align: right;
  line-height: 2vmin;
}
body .left-side .alertContainer .alert .message {
  width: 100%;
  color: #F0FFFF;
  position: absolute;
  top: 5vmin;
  bottom: 5vmin;
  font-size: 2.5vmin;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1vmin;
  padding-right: 1vmin;
}
body .left-side .alertContainer .alert .tag {
  background-color: indianred;
  color: aliceblue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  bottom: 1vmin;
  left: 1vmin;
  font-size: 2vmin;
  padding: 0.3vmin;
}
body .left-side .alertContainer .alert .owner {
  background-color: yellowgreen;
  color: aliceblue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  bottom: 1vmin;
  right: 1vmin;
  font-size: 2vmin;
  padding: 0.3vmin;
}
body .left-side .alertContainer .alert.bg-default {
  background-color: #757E93;
  transition: background-color 0.6s ease;
}
body .left-side .alertContainer .alert.bg-default.bg-red {
  background-color: indianred;
}
body .right-side {
  width: 25vw;
  background-color: #3F4C6B;
  position: relative;
}
body .right-side .counts {
  width: 100%;
  height: 6vh;
  position: absolute;
  top: 0;
  background-color: #323C55;
  color: white;
}
body .right-side .counts .count {
  font-size: 5vmin;
  line-height: 5vmin;
  text-align: left;
  width: 100%;
  position: absolute;
  top: 0.5vmin;
  left: 2vmin;
}
body .right-side .counts .desc {
  font-size: 2vmin;
  line-height: 2vmin;
  position: absolute;
  bottom: 0.4vmin;
  right: 0.4vmin;
}
body .right-side .notifications {
  width: 100%;
  height: 86vh;
  position: absolute;
  top: 6vh;
}
body .right-side .notifications .notification {
  background-color: #9BA1B0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 1vmin;
  padding: 1.2vmin;
  font-size: 2.2vmin;
}
body .right-side .notifications .notification .notification-date {
  text-align: right;
  font-size: 1.8vmin;
}
body .right-side .notifications .notification .note {
  font-size: 2vmin;
  font-style: italic;
  margin: 2vmin 0;
}
body .right-side .notifications .notification .message {
  font-size: 2vmin;
  margin: 2vmin 0;
}
body .right-side .opsgenie-logo {
  width: 100%;
  height: 6vh;
  position: absolute;
  bottom: 0;
  background-image: url("../images/opsgenie-logo.png");
  background-repeat: no-repeat;
  background-position: right 1vmin bottom 1vmin;
  background-size: auto 5vh;
}
