.box-sizing(@sizing: border-box) {
  -webkit-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  box-sizing: @sizing;
}

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

* {
  .box-sizing();
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .bold {
    font-weight: bold;
  }

  .left-side, .right-side {
    height: 100vh;
    float: left;
  }

  .left-side {
    width: 75vw;

    .alertContainer {
      width: 25%;
      height: 25%;
      float: left;

      .alert {
        margin: 1%;
        width: 98%;
        height: 98%;
        .border-radius(6px);
        position: relative;

        .tinyId {
          background-color: #F9F9F9;
          .border-radius(4px);
          color: #2E2E2E;
          position: absolute;
          top: 1vh;
          left: 1vh;
          font-size: 2vh;
          padding: 0.3vh;
        }

        .createdAt {
          color: #F0FFFF;
          position: absolute;
          top: 0.6vh;
          right: 1vh;
          font-size: 2vh;
        }

        .message {
          width: 100%;
          color: #F0FFFF;
          position: absolute;
          top: 5vh;
          bottom: 5vh;
          font-size: 2.5vh;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 1vh;
          padding-right: 1vh;
        }

        .tag {
          background-color: indianred;
          color: aliceblue;
          .border-radius(4px);
          position: absolute;
          bottom: 1vh;
          left: 1vh;
          font-size: 2vh;
          padding: 0.3vh;
        }

        .owner {
          background-color: yellowgreen;
          color: aliceblue;
          .border-radius(4px);
          position: absolute;
          bottom: 1vh;
          right: 1vh;
          font-size: 2vh;
          padding: 0.3vh;
        }
      }

      .alert.bg-default {
        background-color: #757E93;
        transition: background-color 0.6s ease;
      }
      .alert.bg-default.bg-red {
        background-color: indianred;
      }
    }
  }

  .right-side {
    width: 25vw;
    background-color: #3F4C6B;
    position: relative;

    .notifications {
      width: 100%;
      height: 93vh;
      position: absolute;
      top: 0;

      .notification {
        background-color: #9BA1B0;
        .border-radius(6px);
        margin: 1vh;
        padding: 1.2vh;

        .notification-date {
          text-align: right;
          font-size: 1.8vh;
        }

        .note {
          font-size: 2vh;
          font-style: italic;
          margin: 2vh 0;
        }

        .message {
          font-size: 2vh;
          margin: 2vh 0;
        }
      }
    }

    .opsgenie-logo {
      width: 100%;
      height: 6vh;
      position: absolute;
      bottom: 0;

      background-image: url("../images/opsgenie-logo.png");
      background-repeat: no-repeat;
      background-position: right 1vh bottom 1vh;
      background-size: auto 5vh;
    }
  }
}
