<div class="left-side">
    <div class="alertContainer" ng-repeat="alert in alerts | orderBy:'updatedAt':true" ng-if="!alert.ui_deleted">
        <div class="alert bg-default" ng-class="alert.ui_bg_class">
            <span class="tinyId bold">{{alert.tinyId}}</span>
            <span class="createdAt bold">{{alert.createdAt | date: "M/d/yy"}}<br>{{alert.createdAt | date: "HH:mm"}}</span>
            <span class="message">{{alert.message}}</span>
            <span class="tag" ng-if="alert.tags.length > 0">{{alert.tags[alert.tagIndex]}}</span>
            <span class="owner bold" ng-if="alert.owner">{{getOwnerFullName(alert)}}</span>
        </div>
    </div>
</div>

<div class="right-side">
    <div class="counts">
        <div class="count" ng-if="alertCounts.initialized">{{alertCounts.statusDict.unacked}} /
            {{alertCounts.statusDict.open}}
        </div>
        <span class="desc">Unacked / Open</span>
    </div>
    <div class="notifications">
        <div class="notification action-{{notification.action}}"
             ng-repeat="notification in notifications | orderBy:'$index'">
            <div ng-include="notification.templateUrl"></div>
            <div class="notification-date">{{notification.alert.updatedAt | date: "M/d/yy HH:mm"}}</div>
        </div>
    </div>
    <div class="opsgenie-logo"></div>
</div>
